/* Global Styles (e.g., styles/global.css) */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.card-flip {
  perspective: 1000px;
  height: 22rem; 
}

.card-flip:hover .card-front {
  transform: rotateY(180deg);
}

.card-flip:hover .card-back {
  transform: rotateY(0deg);
}

.card-front, .card-back {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.6s linear;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; 
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  z-index: 1;
  transform: rotateY(-180deg);
  position: relative;
}

.smooth-scroll-container {
  height: 100vh;
  overflow-y: auto;
}

.smooth-scroll-container::-webkit-scrollbar {
  width: 4px; 
}

.smooth-scroll-container::-webkit-scrollbar-thumb {
  border-radius:8px;
}

.smooth-scroll-container.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #a0a0a0; 
}

.tech-icon {
  width: 35px;
  height: 35px;
}

.hidden-component {
  opacity: 0;
  transform: translateX(-50px);
}

@media (max-width: 768px) {

  .tech-icon {
    width: 25px;
    height: 25px;
  }
  
  .smooth-scroll-container {
    min-height: 100vh;
    overflow-y: auto;
  }

  .smooth-scroll-container::-webkit-scrollbar-thumb {
    background: transparent; /* Adjust as needed */
  }

  .card-flip {
    perspective: 7000px;
    width: 10rem; 
    height: 16rem; 
  }

  .project-description {
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .spotify-card-container {
    padding-bottom: 20px;
  }

  .scroll-to-top {
    position: fixed;
    top: 20px; /* Distance from bottom */
    left: 90%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for exact centering */
    padding: 8px;
    border: solid 2px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
    z-index: 1000; /* Ensure it's above other content */
  }
}

@layer base {
  body {
    @apply bg-zinc-900;
  }
}
